* {
    box-sizing: border-box;
}

html {
    font-family: helvetica, sans-serif;
    font-weight: normal;
    font-size: 1em;
    background-color: white;
    color: #2c3e50;
}

form {
    background-color: #ecf0f1;
    padding: 20px;
    max-width: 450px;
    margin: 20px auto;
}