* {
    box-sizing: border-box;
}

html {
    font-family: helvetica, sans-serif;
    font-weight: normal;
    font-size: 1em;
    background-color: white;
    color: #2c3e50;
}
/* Récupère la police,la taille et couleur du texte du parent (inherit) */
input,
button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

button {
    cursor: pointer;
    background-color: #16a085;
    color: white;
    border: 0;
    padding: 1em 2em;
    transition: all .3s ease;
}

button:hover {
    background-color: #1abc9c;
    box-shadow: 0 8px 16px rgba(0,0,0,.3);
}

form {
    background-color: #ecf0f1;
    padding: 20px;
    max-width: 450px;
    margin: 20px auto;
}

form ul {
    list-style-type: none;
    padding: 0;
}

form ul li {
    margin-bottom: 1em;
}

form label {
    display: block;
    margin-bottom: .2em;
    cursor: pointer;
}