* {
    box-sizing: border-box;
}

html {
    font-family: helvetica, sans-serif;
    font-weight: normal;
    font-size: 1em;
    background-color: white;
    color: #2c3e50;
}

h1 {
    text-align: center;
}

/* Récupère la police,la taille et couleur du texte du parent (inherit) */
input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

button {
    cursor: pointer;
    background-color: #16a085;
    color: white;
    border: 0;
    padding: 1em 2em;
    transition: all .3s ease;
}

button:hover {
    background-color: #1abc9c;
    box-shadow: 0 8px 16px rgba(0,0,0,.3);
}

form {
    background-color: #ecf0f1;
    padding: 10px 2.5%;
    max-width: 650px;
    margin: 20px auto;
}

form ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

form ul li {
    margin-bottom: 1.75em;
}

form ul li.demi {
    display: inline-block;
    width: 49%;
}

form ul li.demi + li.demi {
    margin-left: 2%;
}

form label {
    display: block;
    margin-bottom: .15em;
    cursor: pointer;
    font-weight: bold;
}

form label span {
    font-size: .75em;
    color: #e67e22;
    vertical-align: super;
}

form input,
form textarea,
form select {
    padding: .6em;
    width: 100%;
}

form textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 5em;
    resize: vertical;
}

form legend {
    font-weight: bold;
}

form [type="checkbox"],
form [type="radio"] {
    width: auto;
}

form [type="checkbox"] + label,
form [type="radio"] + label {
    display: inline-block;
    font-weight: normal;
    padding: .25em 0;
}

#autre + label + input {
    display: none;
}

#autre:checked + label + input {
    display: block;
}

/* Pour écrans de moins de 400px */
@media screen and (max-width: 400px) {
   body {
       padding: 0;
       margin: 0;
   }
}