<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaires</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<h1>Mes tâches</h1>
<div id="app">
    <form action="https://kode.ch/getpost/" method="post" enctype="multipart/form-data">
        <ul>
            <li class="demi">
                <label for="tache">Nom de la tâche</label>
                <input v-model="newTache" id="tache" name="tache" type="text" autofocus>
            </li><li class="demi fin">
                <button @click.prevent="ajouter">Ajouter</button>
            </li>
        </ul>
    </form>

    <ul class="taches">
        <li @dblclick="$event.target.remove()"
            v-for="tache in taches">{{ tache }}
        </li>
    </ul>
</div>
<!-- JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            newTache: '',
            taches: ['Acheter du pain', 'Laver la voiture', 'déjeuner']
        },
        methods: {
            ajouter() {
                if(this.newTache === '') {
                    alert('Saisir un tâche !')
                    return
                }
                this.taches.push(this.newTache)
                this.newTache = ''
            }
        },
    })
</script>
</body>
</html>
